<div class="container">
    <div id="connecting-dots" class="connecting-dots">
        <canvas id="canvas"></canvas>
    </div>
    <div class="search search--open">
        <div class="terminal">
            <p class="terminal__line">Initializing...</p>
            <p class="terminal__line">Welcome:<span class="green">&lt;</span><span class="green" id="ip"></span><span class="green">&gt;</span></p>
            <p class="terminal__line">************************************************************</p>
            <p class="terminal__line">* I work security under a subcontract for one of the Big&nbsp;&nbsp;&nbsp;*</p>
            <p class="terminal__line">* Four tech companies while persuing a bachelor's degree&nbsp;&nbsp;&nbsp;*</p>
            <p class="terminal__line">* in cybersecurity.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*</p>
            <p class="terminal__line">************************************************************</p>
            <p class="terminal__line">Welcome message sent.</p>
            <p class="terminal__line">Fetching navigation portals...</p>
            <p class="terminal__line"><a href="#" data-id="blog">#blog</a></p>
            <p class="terminal__line"><a href="#" data-id="getr00t">#getr00t</a></p>
            <p class="terminal__line"><a href="#" data-id="aboutme">#aboutme</a></p>
            <p class="terminal__line"><a href="#" data-id="contact">#contact</a></p>
            <p class="terminal__line">Injecting <a href="#">Help.md</a> to <span class="directory2"></span> > <span class="console"></span></p>
            <p class="terminal__line">\\<span class="console"></span>\<a href="#"><span class="directory2"></span>>Help.md</a> > In order to navigate,</p>
            <p class="terminal__line">click on the links above or type the section you wish to access eg: "home"</p>
        </div>
        <form class="search__form" action="">
            <input class="search__input" id="search__input" name="search" placeholder="Command Line" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></input>
        </form>
    </div>
</div>