body {
	background-color: #000;
	background-image: url("../images/bg.jpg");
	background-size: contain;
	color: #727272;
}

a, a:visited {
	color: #0f0;
}

a:hover, a:active {
	color: #035803;
}

.border {
	border: 1px solid #0f0 !important;
}

.rounded {
	border-radius: .65rem !important;
}

.header {
	margin-bottom: 2rem;
	background-color: #000;
	border-bottom: 1px solid #0f0;
	border-right: 1px solid #0f0;
	border-left: 1px solid #0f0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #0f0;
}

.blog-header-logo {
  font-family: "VT323";
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "VT323";
  color: #0f0;
}

a.link-secondary, a.link-secondary:visited {
	color: #0f0 !important;
}

a.link-secondary:hover, a.link-secondary:active {
	color: #035803 !important;
}

.btn-outline-secondary, .btn-outline-secondary:visited {
	color: #0f0;
	background-color: #000;
	border: 1px solid #0f0;
}

.btn-outline-secondary:hover, .btn-outline-secondary:active {
	color: #035803;
	background-color: #212529;
	border: 1px solid #035803;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-micro-category, .blog-micro-category:visited {
	color: #0f0;
}
.blog-micro-category:hover, .blog-micro-category:active {
	color: #035803;
}
.blog-post {
  margin-bottom: 4rem;
  color: #fff;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}

/*
 * Footer
 */
.footer {
	border-top: 1px solid #0f0;
	border-left: 1px solid #0f0;
	border-right: 1px solid #0f0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	max-width: 1320px;
}

.blog-footer {
  padding: 2.5rem 0;
  color: #727272;
  text-align: center;
  border-top: 1px solid #0f0;
}

.blog-footer p:last-child {
  margin-bottom: 0;
}
